# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
PORTFOLIO-avicenna.md
PORTFOLIO-busa.md
PORTFOLIO-livit-nest.md
PORTFOLIO-livit-next.md
PORTFOLIO-morning-cup-backend.md
PORTFOLIO-morning-cup.md

.agents
.claude
.superpowers